a{
    color: aliceblue;
    text-decoration: none;
}
li {
    list-style-type: none; 
}
ul {
    margin-left: 0; 
    padding-left: 0; 
}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}