@import url(//db.onlinewebfonts.com/c/892951b494976f7fd57f5d460c690966?family=MullerMedium);
body {
  margin: 0;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 45px; 
}
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
code {
  font-family: 'Mulish', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
