 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.05), rgba(26,26,26,0.05)), url("images/c9a0e2a15dfcb5c578d43afd3deefc81.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 841px;
}

.u-section-1 .u-group-1 {
  width: 830px;
  min-height: 421px;
  position: relative;
  height: auto;
  margin: 371px auto 50px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  position: relative;
  font-size: 6rem;
  margin: 40px 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  position: relative;
  width: 180px;
  min-width: 140px;
  margin: 40px auto 40px 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 684px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 524px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 491px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }
}.u-block-4677-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4677-3 {
  width: 29px;
}

.u-block-4677-4 {
  width: 29px;
}

@media (max-width: 991px) {
  .u-block-4677-3 {
    width: 22px;
  }

  .u-block-4677-4 {
    width: 22px;
  }
}

@media (max-width: 767px) {
  .u-block-4677-3 {
    width: 21px;
  }

  .u-block-4677-4 {
    width: 21px;
  }
}

@media (max-width: 575px) {
  .u-block-4677-3 {
    width: 17px;
  }

  .u-block-4677-4 {
    width: 17px;
  }
}

.u-section-2-1 .u-sheet-1 {
  min-height: 493px;
}

.u-section-2-1 .u-layout-wrap-1 {
  position: relative;
  margin: 62px auto 62px 0;
}

.u-section-2-1 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-2-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2-1 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 35px 0;
}

.u-section-2-1 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-2-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2-1 .u-text-2 {
  position: relative;
  margin: 35px -20px;
}

.u-section-2-1 .u-image-1 {
  min-height: 399px;
  background-image: url("images/20cede0aaf7a63c93d69ecc609a1d084.jpeg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2-1 .u-text-3 {
  position: relative;
  margin-bottom: 0;
  margin-top: 35px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-2-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    margin-top: 89px;
    margin-bottom: 89px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2-1 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-2-1 .u-text-1 {
    margin: 15px 6px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 115px;
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 115px;
  }
}

.u-section-2-2 .u-sheet-1 {
  min-height: 493px;
}

.u-section-2-2 .u-layout-wrap-1 {
  position: relative;
  margin: 62px auto 62px 0;
}

.u-section-2-2 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-2-2 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2-2 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 35px 0;
}

.u-section-2-2 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-2-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2-2 .u-text-2 {
  position: relative;
  margin: 35px -20px;
}

.u-section-2-2 .u-image-1 {
  min-height: 399px;
  background-image: url("images/f6913e51e034bf3bac832c7191e4ffdd.jpeg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2-2 .u-text-3 {
  position: relative;
  margin-bottom: 0;
  margin-top: 35px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-2-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    margin-top: 89px;
    margin-bottom: 89px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2-2 .u-text-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2-2 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-2-2 .u-text-1 {
    margin: 15px 6px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 115px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 115px;
  }
}

.u-section-2-3 .u-sheet-1 {
  min-height: 493px;
}

.u-section-2-3 .u-layout-wrap-1 {
  position: relative;
  margin: 62px auto 62px 0;
}

.u-section-2-3 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-2-3 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2-3 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 35px 0;
}

.u-section-2-3 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-2-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2-3 .u-text-2 {
  position: relative;
  margin: 35px -20px;
}

.u-section-2-3 .u-image-1 {
  min-height: 399px;
  background-image: url("images/017909f4f0419d16fd6331b325bbaa3f.jpeg");
  background-position: 50% 50%;
}

.u-section-2-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2-3 .u-text-3 {
  position: relative;
  margin-bottom: 0;
  margin-top: 35px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-2-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2-3 .u-layout-wrap-1 {
    margin-top: 89px;
    margin-bottom: 89px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-3 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2-3 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-3 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2-3 .u-text-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2-3 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2-3 .u-layout-wrap-1 {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-3 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-2-3 .u-text-1 {
    margin: 15px 6px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 115px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 115px;
  }
}

.u-section-2-4 .u-sheet-1 {
  min-height: 493px;
}

.u-section-2-4 .u-layout-wrap-1 {
  position: relative;
  margin: 62px auto 62px 0;
}

.u-section-2-4 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-2-4 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2-4 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 35px 0;
}

.u-section-2-4 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-2-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2-4 .u-text-2 {
  position: relative;
  margin: 35px -20px;
}

.u-section-2-4 .u-image-1 {
  min-height: 399px;
  background-image: url("images/f5a61b2d1db3b25fc586980b8bc0f692.jpeg");
  background-position: 50% 50%;
}

.u-section-2-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2-4 .u-text-3 {
  position: relative;
  margin-bottom: 0;
  margin-top: 35px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-4 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-2-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2-4 .u-layout-wrap-1 {
    margin-top: 89px;
    margin-bottom: 89px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-4 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-2-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2-4 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-2-4 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2-4 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-4 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-2-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2-4 .u-text-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-4 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-2-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2-4 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2-4 .u-layout-wrap-1 {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-4 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-2-4 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-2-4 .u-text-1 {
    margin: 15px 6px;
  }

  .u-section-2-4 .u-layout-cell-2 {
    min-height: 115px;
  }

  .u-section-2-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 115px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-layout-wrap-1 {
  position: relative;
  margin: 166px auto 166px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/b98ece2cc7b7f0de1e4a00c6859faa22.jpeg");
  min-height: 649px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 649px;
}

.u-section-3 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 65px 20px 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-3 .u-link-1 {
  position: relative;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 30px auto 65px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 6px;
  }
} .u-section-4 {
  min-height: 1105px;
}

.u-section-4 .u-group-1 {
  width: 810px;
  min-height: 209px;
  position: relative;
  height: auto;
  margin: 88px auto 0 calc(((100% - 1140px) / 2) + 165px);
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-text-2 {
  position: relative;
  margin: 20px;
}

.u-section-4 .u-layout-wrap-1 {
  position: relative;
  margin: 20px auto 88px 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/d85a697e1e32f4e5eaa5c95b1184c9e3.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  background-image: url("images/7612fe0831406d9f880aad24761a25df.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/f6913e51e034bf3bac832c7191e4ffdd.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  background-image: url("images/8f32856985d0ea6e4917ae2a143003bd.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-5 {
  background-image: url("images/21d16f619b4982311f9822f37f8e2b52.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-6 {
  background-image: url("images/021eae2484576b01f466032af16db23d.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-7 {
  background-image: url("images/2fbc3359e2fdf40920883fd21e1aadd1.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-8 {
  background-image: url("images/017909f4f0419d16fd6331b325bbaa3f.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 668px;
    margin-left: calc(((100% - 940px) / 2) + 136px);
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 512px;
    margin-left: calc(((100% - 720px) / 2) + 104px);
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 480px;
    margin-left: calc(((100% - 540px) / 2) + 55px);
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2) + 10px);
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-5 {
  min-height: 431px;
}

.u-section-5 .u-layout-wrap-1 {
  position: relative;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 431px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  position: relative;
  margin: 45px 20px 0;
}

.u-section-5 .u-text-2 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-5 .u-text-3 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-5 .u-link-1 {
  position: relative;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 30px auto 45px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 431px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-4 {
  position: relative;
  margin: 45px 20px 0;
}

.u-section-5 .u-text-5 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-5 .u-text-6 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-5 .u-link-2 {
  position: relative;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 30px auto 45px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 431px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-7 {
  position: relative;
  margin: 45px 20px 0;
}

.u-section-5 .u-text-8 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-5 .u-text-9 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-5 .u-link-3 {
  position: relative;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 30px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ec96180bdf28e881ff05711b6487910d.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 701px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-wrap-1 {
  position: relative;
  margin: 73px auto 73px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-6 .u-text-1 {
  position: relative;
  margin-top: 55px;
  margin-right: 45px;
  margin-left: 45px;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 50px;
}

.u-section-6 .u-link-1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 2px;
  font-size: 0.875rem;
  margin: 20px 437px 55px 50px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 37px;
    margin-right: 37px;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 41px;
    margin-right: 33px;
    margin-bottom: 0;
  }

  .u-section-6 .u-link-1 {
    margin-right: 360px;
    margin-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 32px;
    margin-right: 25px;
  }

  .u-section-6 .u-link-1 {
    margin-right: 276px;
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 24px;
    margin-right: 19px;
  }

  .u-section-6 .u-link-1 {
    margin-right: 207px;
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 15px;
    margin-right: 12px;
  }

  .u-section-6 .u-link-1 {
    margin-right: 130px;
    margin-left: 15px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 354px;
}

.u-section-7 .u-group-1 {
  min-height: 250px;
  position: relative;
  height: auto;
  margin: 52px auto 52px 0;
}

.u-section-7 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 25px 20px 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  position: relative;
  width: 147px;
  min-width: 112px;
  margin: 33px auto 25px;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}